/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
}

.login-card {
  background: var(--color-surface);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 400px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card:hover {
  transform: translateY(-5px);
}

.login-title {
  text-align: center;
  color: var(--color-text);
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group label {
  display: flex;
  margin-bottom: 0.5rem;
  color: var(--color-text);
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #4a6cf7;
  outline: none;
  box-shadow: 0 0 0 3px rgba(74, 108, 247, 0.1);
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--primary-color-hover);
}

/* Estilo cuando el botón está deshabilitado */
.login-button:disabled {
  background-color: #cccccc !important; /* Gris */
  cursor: not-allowed !important;
}

/* Efecto para los inputs cuando son inválidos */
.form-group input:invalid:not(:placeholder-shown) {
  border-color: #ff4757;
}

.form-group input:invalid:not(:placeholder-shown):focus {
  box-shadow: 0 0 0 3px rgba(255, 71, 87, 0.1);
}

.img-container {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.error-message {
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  color: red;
}

.input-container {
  position: relative; /* Necesario para posicionar el icono */
  width: 100%; /* Ajusta según tu layout */
  display: flex;

  .input-with-icon {
    width: 100%;
    padding-left: 40px; /* Espacio para el icono */
  }
}

.icon-inside-input {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-secondary); /* Color del icono */
  pointer-events: none; /* Evita que el icono interfiera con el input */
}
